.header {
    height: 20vh;
}
.header h1 {
    color:white;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
}
.buttons {
    height: 60vh;
}
.button_container {
    width: 50vw;
    height: 100%;
    float:left;
    position: relative;
}
.link_button {
    width: 400px;
    height: 160px;
    line-height: 160px;
    margin-left: -200px;
    margin-top: -80px;
    border-radius: 80px;

    position: absolute;
    top: 50%;
    left: 50%;
    
    text-align: center;
    border: 1px solid #ffffff;
    color: white;
    font-size: 36px;

    transition: background-color 150ms , color 150ms;
}
.link_button:hover {
    background-color: #ffffff;
    color: #000000;
}

.footer_info {
    height: 20vh;
}
.footer_info p {
    color: #ffffff;
}
.connected {
    color: #00bb00;
}
.notconnected {
    color: #bb0000;
}