#DataSVG {
    padding: 10px 0px 10px 10px;
    height: 100vh;
    float: left;
}
.sidepanel {
    float: left;
    position: relative;
    height: 100vh;
    width: 300px;
    margin-left: 20px;
}



#loadCellContainer {
    color: white;
    margin-top: 10px;
}
#loadCellContainer h4 {
    font-size: 24px;
    font-weight: normal;
}
#loadCellContainer h1 {
    display: inline-block;
    font-size: 74px;
}
#loadCellContainer h3 {
    display: inline-block;
    font-size: 36px;
}

.panel {
    width: 300px;
    margin-bottom: 10px;
    color:white;
    float: left;
    padding: 10px;
    border: 1px solid #ffffff;
}
.panel_disabled .panel_button {
    color: #333333;
    background-color: #666666;
    pointer-events: none;
    border: none;
}
.panel_disabled .panel_input {
    color: #333333;
    background-color: #666666;
    pointer-events: none;
}

.panel_header {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
}

.panel_header_with_lock {
    width: 278px;
    float: left;
    position: relative;
}
.panel_header_with_lock .panel_header {
    float: left;
}
.panel_header_with_lock input {
    float: left;
    position: absolute;
    right: 40px;
    top: 2px;
}
.panel_header_with_lock p {
    float: left;
    position: absolute;
    right: 0px;
}

.panel_header_oxid {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
}

.panel_button {
    height: 40px;  
    line-height: 40px;
    text-align: center;
    border: 1px solid #ffffff;
    float: left;
    cursor: pointer;
}
.panel_button:hover {
    color: #000000;
    background-color: #ffffff;
}
.panel_button_disabled {
    color: #333333;
    background-color: #666666;
    pointer-events: none;
    border: none;
}
.panel_input {
    height: 40px;
    float: left;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 12px 12px;
    margin-bottom: 10px;
}
.panel_input_disabled {
    color: #333333;
    background-color: #666666;
    pointer-events: none;
}


.actuator_control_button {
    width: 86px;
    margin-right: 10px;
}
.actuator_control_button:last-child {
    margin-right: 0px;
}
.actuator_input {
    width: 130px;
    margin-right: 18px;
}
.actuator_input:last-of-type {
    margin-right: 0;
}
.actuator_input_label {
    width: 130px;
    margin-right: 18px;
    float: left;
}
.actuator_input_label:last-of-type {
    margin-right: 0;
}


.initial_volume_control_button {
    width: 130px;
    margin-right: 18px;
}
.initial_volume_control_button:last-child {
    margin-right: 0px;
}
.initial_volume_input {
    width: 130px;
    margin-right: 18px;
}
.initial_volume_input:last-of-type {
    margin-right: 0;
}
.initial_input_label {
    width: 130px;
    margin-right: 18px;
    float: left;
}
.initial_input_label:last-of-type {
    margin-right: 0;
}


.flowratePanelRow {
    width: 300px;
    height: 60px;
}
.flowratePanelRow .field_label {
    width: 300px;
    height: 20px;
    float: left;
}
.flowratePanelRow input {
    width: 130px;
}
.flowratePanelRow .field_unit {
    width: 70px;
    padding-left: 10px;
    line-height: 40px;
    float: left;
}
.flowratePanelRow .field_button {
    width: 80px;
}


.log_button {
    width: 130px;
    margin-right: 18px;
}
.log_button:last-child {
    margin-right: 0;
}


.fuel_volume_row .field_unit {
    width: 68px;
    padding-left: 10px;
    line-height: 40px;
    float: left;
}
.fuel_volume_row .panel_input {
    width: 130px;
}
.fuel_volume_row .panel_button {
    width: 80px;
}

.oxid_volume_row .field_unit {
    width: 68px;
    padding-left: 10px;
    line-height: 40px;
    float: left;
}
.oxid_volume_row .panel_input {
    width: 130px;
}
.oxid_volume_row .panel_button {
    width: 80px;
}

.last_updated_time_panel p {
    
}
.updates_alive {
    color: #00FF00;
}
.updates_dead {
    color: #FF0000;
}