@media only screen and (max-width: 1600px) {
    #DataSVG {
        max-width: 600px !important;
    }
}
#DataSVG {
    padding: 10px 0px 10px 10px;
    height: 100vh;
    max-width: 960px;
    float: left;
    transition: opacity 200ms, transform 300ms; /* Animate in effect */
}
.sidepanel {
    float: left;
    height: 100vh;
    width: 920px;
    margin-left: 20px;
}

.sidepanel_column {
    width: 300px;
    margin-right: 20px;
    float: left;
    transition: opacity 200ms 100ms, transform 300ms 100ms; /* Animate in effect */
}
.sidepanel_column:nth-child(2) {
    margin-top: 17px;
    transition: opacity 200ms 200ms, transform 300ms 200ms; /* Animate in effect */
}
.sidepanel_column:nth-child(3) {
    margin-top: 17px;
    transition: opacity 200ms 300ms, transform 300ms 300ms; /* Animate in effect */
}

/* Animate in effect */
.notloaded #DataSVG, .notloaded .sidepanel_column{
    opacity: 0;
    transform: translateY(100px);
}

#loadCellContainer {
    color: white;
    margin-top: 10px;
}
#loadCellContainer h4 {
    font-size: 24px;
    font-weight: normal;
}
#loadCellContainer h1 {
    display: inline-block;
    font-size: 74px;
}
#loadCellContainer h3 {
    display: inline-block;
    font-size: 36px;
}

.panel {
    width: 300px;
    margin-bottom: 10px;
    color:white;
    float: left;
    padding: 10px;
    border: 1px solid #ffffff;
}
.panel_disabled .panel_button {
    color: #333333;
    background-color: #666666;
    pointer-events: none;
    border: none;
}
.panel_disabled .panel_input {
    color: #333333;
    background-color: #666666;
    pointer-events: none;
}

.panel_header {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
}

.panel_header_with_lock {
    width: 278px;
    float: left;
    position: relative;
}
.panel_header_with_lock .panel_header {
    float: left;
}
.panel_header_with_lock input {
    float: left;
    position: absolute;
    right: 40px;
    top: 2px;
}
.panel_header_with_lock p {
    float: left;
    position: absolute;
    right: 0px;
}

.panel_header_oxid {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
}
.panel_button {
    height: 40px;  
    line-height: 40px;
    text-align: center;
    border: 1px solid #ffffff;
    float: left;
    cursor: pointer;
}
.panel_button:hover {
    color: #000000;
    background-color: #ffffff;
}
.panel_button_disabled {
    color: #333333;
    background-color: #666666;
    pointer-events: none;
    border: none;
}
.panel_input {
    height: 40px;
    float: left;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 12px 12px;
    margin-bottom: 10px;
}
.panel_input_disabled {
    color: #333333;
    background-color: #666666;
    pointer-events: none;
}

.panel_row {
    width: 300px;
    height: 60px;
}
.panel_row .field_label {
    width: 300px;
    height: 20px;
    float: left;
}
.panel_row input {
    width: 130px;
}
.panel_row .field_unit {
    width: 70px;
    padding-left: 10px;
    line-height: 40px;
    float: left;
}
.panel_row .field_button {
    width: 80px;
}

.actuator_panel_row {
    width: 100%;
    margin-bottom: 10px;
    float: left;
}
.actuator_panel_row > h2 {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 5px;
}
.actuator_panel_column {
    width: calc(50% - 5px);
    float: left;
    margin-right: 10px;
}
.actuator_panel_column:last-child {
    margin-right: 0px;
}
.actuator_panel_input {
    width: 50%;
    height: 30px;
    float: left;
    font-size: 16px;
    text-align: center;
}
.actuator_panel_button {
    height: 30px;
    border: 1px solid #FFFFFF;
    float: left;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    margin-bottom: 10px;
}
.actuator_panel_button:hover {
    color: #000000;
    background-color: #FFFFFF;
}
.actuator_panel_button_disabled {
    color: #333333;
    background-color: #666666;
    pointer-events: none;
    border: none;
}
.actuator_panel_small_button {
    width: 50%;
}
.actuator_panel_large_button {
    width: 100%;
}
.panel_disabled .actuator_panel_button {
    color: #333333;
    background-color: #666666;
    pointer-events: none;
    border: none;
}
.panel_disabled .actuator_panel_input {
    color: #333333;
    background-color: #666666;
    pointer-events: none;
}


.initial_volume_control_button {
    width: 130px;
    margin-right: 18px;
}
.initial_volume_control_button:last-child {
    margin-right: 0px;
}
.initial_volume_input {
    width: 130px;
    margin-right: 18px;
}
.initial_volume_input:last-of-type {
    margin-right: 0;
}
.initial_input_label {
    width: 130px;
    margin-right: 18px;
    float: left;
}
.initial_input_label:last-of-type {
    margin-right: 0;
}


.flowratePanelRow {
    width: 300px;
    height: 60px;
}
.flowratePanelRow .field_label {
    width: 300px;
    height: 20px;
    float: left;
}
.flowratePanelRow input {
    width: 130px;
}
.flowratePanelRow .field_unit {
    width: 70px;
    padding-left: 10px;
    line-height: 40px;
    float: left;
}
.flowratePanelRow .field_button {
    width: 80px;
}


.log_button {
    width: 130px;
    margin-right: 18px;
}
.log_button:last-child {
    margin-right: 0;
}

.full_width_button {
    width: 278px;
}


.fuel_volume_row .field_unit {
    width: 68px;
    padding-left: 10px;
    line-height: 40px;
    float: left;
}
.fuel_volume_row .panel_input {
    width: 130px;
}
.fuel_volume_row .panel_button {
    width: 80px;
}

.oxid_volume_row .field_unit {
    width: 68px;
    padding-left: 10px;
    line-height: 40px;
    float: left;
}
.oxid_volume_row .panel_input {
    width: 130px;
}
.oxid_volume_row .panel_button {
    width: 80px;
}

.last_updated_time_panel p {
    
}
.updates_alive {
    color: #00FF00;
}
.updates_dead {
    color: #FF0000;
}

.narrow_sidepanel_column {
    width: 200px;
}
.state_list_container {
    color: #FFFFFF;
}
.state_button_header {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}
.state_button {
    width: 100%;
    height: 40px;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}
.state_button:hover {
    color: #000000;
    background-color: #FFFFFF;
}
.state_button_active {
    background-color: #00AA00;
}  
